* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    background-image: url(https://stihi.ru/pics/2020/07/13/7522.jpg);
    background-size: 100%;
}
.log a {
    color: #5975c5;
    font-weight: bold;
    text-decoration: blink;
    
    padding: 5px;
    width: 100%;
}
.log button{
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.main{
    width: 350px;
    display: flex;

}   
button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}
nav{
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 25px;
}
form {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: white;
}
p{
    opacity: 0.8;
}
a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}
.index_form1{
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.index_form1 input[type="text"], .index_form1 input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 14px 10px;
    width: 250px;
    color: black;
    outline: none;
}
.index_form1 button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 15px 10px;
    outline: none;
    color: black;
    font-weight: bold;
    width: 300px;
    border-radius: 20px;

}
.index_form1 h1{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    opacity: 0.8;
}